.checkbox-wrapper {
	float: left;
	margin: 20px 0 0 130px;
}
.remember-wrapper {
	float: left;
	margin: 20px 0 0 0;
}
.forgot-password-wrapper {
	float: right;
	margin: 20px 0 0 0;
}
.input-submit {
	clear: both;
	float: right;
	width: 100%;
	margin: 10px 0 0 0;
}
.submit {
	width: 100%;
	height: 100%;
	margin: 10px 0 0 0;
	background-color: #125965;
	border: none;
	color: #fff;
}
.btn-holder-right {
	float: right;
	width: 25%;
	margin: 10px 0 0 0;
}
.comment-submit-right {
	width: 100%;
	height: 100%;
	background-color: #125965;
	border: none;
	color: #fff;
}

/****************/
.login-footer {
	width: 100%;
	height: 220px;
	background-color: #292929;
}
.first-two{
	float: left;
	width: 49%;
	margin: 20px 0 0 30px;
}
.last-two{
	float: right;
	width: 48%;
	margin-top: 20px;
}
.all-about-wrapper{
	float: left;
	width: 50%;
	height: 180px;
	border-right: 2px solid white;
}

h4.title-footer{
	color: white;
	width: 100%;
	height: 100%;
}
.footer-logo-wrapper {
	width: 70%;
	float: right;
	padding: 6px 65px 0 0;
	margin-right: 16px;
}
.footer-title-wrapper {
	width: 25%;
	height: 41px;
	float: left;
}
.nav-footer{
	width: 100%;
	height: 150px;
	padding-top: 45px;
}

img.logo-icon {
	width: 100%;
	height: 100%;
}

li {
	list-style-type: none;
	color: #acadac;
}
li:hover {
	color: white;
	cursor: pointer;
}


.user-wrapper{
	float: right;
	width: 50%;
	height: 180px;
	padding-left: 20px;
	border-right: 2px solid white;
}
.location-wrapper{
	float: left;
	width: 50%;
	height: 180px;
	padding-left: 15px;
	border-right: 2px solid white;
}
.connection-wrapper{
	float: right;
	width: 50%;
	height: 180px;
	padding-left: 20px;
}
.whole-title-wrapper {
	width: 100%;
	height: 37px;
}
.nav-footer{
	width: 100%;
	height: 150px;
	padding-top: 45px;
}