body {
	width: 1349px;
}
.content-holder{
	width: 100%;
	height: auto;
	padding: 30px 60px;
}

.directory{
	font-size: 14px;
}

a.direct-a {
	color: #0000cc;
}

.prod-wrapper{
	background-color: #f0f1f4;
	padding: 15px;
	width: 100%;
	margin-top: 30px;
	height: auto;
}

.left-wrapper{
	width: 78%;
	height: auto;
	float: right;
}

.top-info {
	width: 100%;
	border-bottom: 1px solid #797979;
	overflow: hidden;
}

.prod-title{
	font-size: 25px;
	width: 88%;
	float: left;
	min-height: 35px;
	height: auto;
}

.edit-prod{
	float: right;
	padding: 2px 5px;
	font-size: 12px;
}

.title-edit{
	overflow: hidden;
}

.title-rate{
	width: 100%;
	height: auto;
}

.writeReview a {
	text-decoration: none;
	color: #0000cc;
}

.reviews{
	width: 50%;
	overflow: hidden;
}

.ratings{
	width: 25%;
	overflow: hidden;
}

.img-rate{
	float: left;
}

.rate-counter{
	float: right;
}

.bottom-info{
	overflow: hidden;
	width: 100%;
	height: auto;
	padding: 20px 0 20px 0;
}

.item-list{
	float: left;
	width: 70px;
}

.item-preview{
	float: left;
	width: 300px;
	height: 300px;
}

.item-photos{
	float: left;
	width: 42%;
}

li.photo-list{
	margin-bottom: 10px;
}
li .overview {
	list-style-type: circle;
	font-size: 30px;
	margin-bottom: 2px;
}
p.overview-title {
	font-size: 18px;
	color: #125965;
}
.item-info {
	width: 52%;
	margin-left: 20px;
	height: auto;
	float: left;
	overflow: hidden;
}
.price-wrapper{
	margin-top: 10px;
}

p.price {
	font-size: 30px;
	width: auto;
	min-height: 44px;
	padding: 0 0 0 15px;
}

.prod-description{
	border-top: 3px solid #125965;
	height: auto;
	overflow: hidden;
	width: 100%;
	margin: 10px 0 0 0;
	background-color: #f0f1f4;
	padding: 20px 20px;
}

p.desc-title {
	font-size: 18px;
	color: #125965;
	margin-bottom: 15px;
}

p.desc-what{
	font-weight: bold;
	color: black;
	font-size: 14px;
}
p.desc-details{
	float: left;
	color: black;
	font-size: 13px;
}

.desc-div{
	width: 95%;
	min-height: 112px;
	height: auto;
	overflow: hidden;
	margin-bottom: 5px;

}

.revrate-wrapper{
	border-top: 3px solid #125965;
	height: auto;
	overflow: hidden;
	width: 100%;
	margin: 20px 0;
	background-color: #f0f1f4;
	padding: 20px 20px;
}

.rate-container{
	width: 45%;
	height: auto;
	overflow: hidden;
	margin-top: 40px;
	margin-bottom: 10px;
	margin-left: 150px;
	float: left;
}

.star-counter{
	float: left;
	width: 30%;
}

p.rate-title{
	font-size: 16px;
	font-weight: bold;
	margin-left: 10px;
}

.rate-this{
	width: 80%;
	height: 40px;
}

.summary{
	margin-left: 15px;
}

p.review-count{
	float: left;
	padding: 2px 15px 2px 15px;
	border-right: 1px solid black;
}

p.rate-count{
	float: left;
	padding: 2px 15px 2px 15px;
}
.item-overview{
	height: 180px;
	width: 100%;
	padding: 10px;
	overflow: hidden;
}
.product-overview {
	margin: 0;
	min-height: 22px;
	font-size: 15px;
	text-indent: 20px;
	line-height: 20px;
	height: auto;
}
#in_box1, #in_box2,
#in_box3, #in_box4,
#specs1, #specs2,
#specs3, #specs4 {
	font-size: 13px;
	padding: 0 0 0 10px;
	width: 50%;
}