.activity-wrapper {
	border: 1px solid red;
	float: left;
	width: 60%;
	height: 200px;
	padding: 20px;
}
.sales-title {
	font-size: 20px;
	margin-bottom: 20px;
}

.box-1{
	float: left;
	width: 150px;
	height: 80px;
	border: 1px solid #b3b3b3;
	border-radius: 5px;
	background-color: white;
	padding: 10px;
	text-align: center;
	margin-right: 20px;
}

.item-qty {
	font-size: 30px;
}
.item-type {
	font-size: 10px;
	margin-bottom: 10px;
}
.item-what {
	font-size: 15px;
}