*{
	padding: 0;
	margin: 0;
}
body {
	margin: 0;
	padding: 0;
	overflow-y: scroll;
	width: 1349px;
	height: auto;
	font-family: Century Gothic;
}
.whole-wrapper {
	height: auto;
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding: 0 1px 0 0;
}
/*********************/
.navigation-left {
	float: left;
	width: 20%;
	height: 100%;
	background: #263238;
	padding: 1px 1px 250px 1px;
}
.navigation-left .logo-container {
	padding: 1px;
	height: 105px;
}
.navigation-left .logo-container .logo-wrapper {
	margin: 20px 0 0 0;
	text-align: center;	
}
.navigation-left .logo-container .tagline-wrapper {
	color: #fff;
	margin: 1px 0 0 0;
	text-align: center;
	font-size: 11px;
}

.navigation-left .account-container {
	overflow: hidden;
	margin: 1px 0 0 0;
	padding: 10px 1px 1px 1px;
	height: auto;
	border-top: 1px solid #2f4048;
	border-bottom: 1px solid #2f4048;
}
.navigation-left .account-container .dp-wrapper {
	border-radius: 50%;
	width: 90%;
	height: 100%;
	border: 1px solid #e6e6e4;
}
.navigation-left .account-container .dp-container {
	width: 30%;
	height: 75px;
	margin: 10px auto;
}
.navigation-left .account-container .image {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	
}
.navigation-left .account-container .info-container {
	width: 100%;
	height: 55px;
	color: white;
	font-size: 13px;
	padding: 1px;
	margin: 10px 15%;
}
.navigation-left .account-container .position {
	font-size: 12px; 
	color: #a2a2a2;
	margin: 0 19%;
}
.navigation-left .account-container p.name {
	margin: 0;
	cursor: pointer;
	font-size: 16px;
}
p.name:hover{
	font-weight: bold;
}
/**********************************************/
.navigation-left .navigation-links-holder {
	margin: 5px 0 0 0;
	padding: 20px 1px 1px 10px;
	height: auto;
}
.navigation-left .navigation-links-holder ul.ul-link {
	list-style-type: none;
	padding: 1px;
	margin: 0;
}
.navigation-left .navigation-links-holder ul li {
	padding: 1px;
	margin: 0 0 1px 0;
	height: 40px;
	line-height: 33px;
	text-indent: 10px;
}
.navigation-left .navigation-links-holder ul li.link-active {
	border-left: 3px solid #a5ffa1;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	text-indent: 15px;
	font-size: 15px;
	height: 43px;
	line-height: 35px;
}
.navigation-left .navigation-links-holder ul.ul-link li .li-link {
	text-decoration: none; 
	color: #a2a2a2;
}
.navigation-left .navigation-links-holder ul.ul-link li .li-link:hover {
	color: #fff;
}
/************************************************/
.content-right {
	overflow: hidden;
	float: right;
	background-color: #eff2f1;
	width: 80%;
	min-height: 725px;
	height: auto;
}
.direction-wrapper {
	background-color: #fbfbfb;
	width: 100%;
	margin: 0;
	height: auto;
	padding: 10px 0 10px 40px;
	overflow: hidden;
}
.location-icon{
	width: 25px;
	height: 25px;
	overflow: hidden;
	padding: 0;
	float: left;
}
.location-title{
	float: left;
	font-weight: bold;
	font-size: 16px;
	margin: 2px 10px;
	color: #ff4e4e;
}
.direction-holder{
	float: left;
	margin: 5px 0 0 20px;
}
p.home{
	font-size: 11px;
	float: left;
	margin-left: 5px;
}
p.separator{
	font-size: 11px;
	float: left;
	margin-left: 5px;
}
p.dashboard{
	font-size: 11px;
	float: left;
	margin-left: 5px;
	color: #125965;
	font-weight: bold;
}
/***************************/
.installment-wrapper{
	background-color: #fbfbfb;
	border-radius: 4px;
	width: 93%;
	height: auto;
	overflow: hidden;
	margin: 20px 0 0 40px;
}
p.pending-applications{
	font-size: 15px;
	padding: 10px 20px;
	background-color: #fb6363;
	color: white;
	font-weight: bold;
}
/**********************/
.table-wrapper{
	margin: 20px 20px;
	width: 95%;
}
th{
	padding: 5px 10px;
	background-color: #f3f4d1;
	border: 1px solid black;
	text-align: center;
}
td{
	padding: 5px 10px;
	border-bottom: 1px solid #6e6e6e;
}
.reject{
	border: none;
	background-color: #e83e3e;
	color: white;
	border-radius: 3px;
	height: 20px;
	width: 20px;
}
.accept{
	border: none;
	background-color: #25d186;
	color: white;
	border-radius: 3px;
	height: 20px;
	width: 20px;
}
.view{
	border: none;
	background-color: #b6b5b5;
	border-radius: 3px;
	height: auto;
	width: auto;
	padding: 2px 5px;
	font-size: 12px;
	color: white;
}
.reject:hover,
.accept:hover,
.view:hover{
	opacity: .6;
}